@import "src/blocks/variables";
@import "src/blocks/mixins";
.header {
    @include commonWindowWidth();
    @include flexColumn();
    background-image: url("../../../img/header/lamp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: flex-start;
    height: 750px;
    padding: 0 100px 50px 50px;

    &__headline {
        @include flexRow();
        justify-content: space-between;
    }
    &__headline-logo {
        @include flexRow();
        .logo__letter {
            padding: 66px 28px 20px;
            font-family: "Playfair Display", serif;
            font-style: normal;
            font-weight: 900;
            font-size: 48px;
            line-height: 64px;
            background: $silkWhite;
        }
        .logo__sign {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $silkWhite;
            width: 77px;
            margin: 80px 10px 0;
        }
    }
    &__headline-links-container {
        @include flexRow;
        margin-top: 65px;
        .headline-links-container {
            &__link-bounder + .headline-links-container__link-bounder {
                margin-left: 50px;
            }
            &__link {
                @include linkStyle();
            }
        }
    }
    &__midline {
        @include flexRow();
        align-items: flex-end;
        justify-content: space-between;
        height: 100%;
    }
    &__midline-links-container {
        @include flexColumn;
        .midline-links-container {
            &__link-bounder {
                margin-top: 50px;
            }
            &__link {
                @include linkStyle();
                writing-mode: vertical-lr;
                transform: rotate(180deg);
            }
        }
    }
    &__midline-caption {
        @include flexColumn();
        align-self: flex-start;
        margin-left: 50px;
        .midline-caption {
            &__title {
                @include specialContainerWidth(446px);
                font-family: "Playfair Display", serif;
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 64px;
                color: $silkWhite;
            }
            &__text-container {
                @include specialContainerWidth(344px);
                margin-top: 50px;
            }
            &__text {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: $silkWhite;
            }
            &__button-container {
                margin-top: 56px;
            }
            &__button {
                @include buttonStyle(15px, 60px);
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
    &__midline-example-photos {
        @include flexRow();
        .midline-example-photos__photo-container + .midline-example-photos__photo-container {
            margin-left: 20px;
        }
    }
}