@import "src/blocks/variables";
@import "src/blocks/mixins";

.header {
    @include commonWindowWidth();
    @include flexColumn();
    background-image: url("../../../img/header/lamp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: flex-start;
    height: 750px;
    padding: 0 100px 50px 50px;

    &__headline {
        @include flexRow();
        justify-content: space-between;
    }

    &__headline-logo {
        @include flexRow();
        justify-content: flex-start;
        .logo__letter {
            @include logoLetter();
        }

        .logo__sign {
            @include logoSign();
        }
    }

    &__headline-links-container {
        @include flexRow;
        align-items: center;

        .headline-links-container {
            &__link-bounder + .headline-links-container__link-bounder {
                margin-left: 50px;
            }

            &__link {
                @include linkStyle();
            }
        }
    }

    &__midline {
        @include flexRow();
        align-items: flex-end;
        height: 100%;
    }

    &__midline-links-container {
        @include flexColumn();
        justify-content: flex-end;
        .midline-links-container {
            &__link-bounder {
                margin-top: 50px;
            }

            &__link {
                @include linkStyle();
                writing-mode: vertical-lr;
                transform: rotate(180deg);
            }
        }
    }
    &__midline-content {
        @include flexColumn();
        margin-left: 150px;
        width: 100%;
        height: 100%;
    }
    &__midline-caption-title {
        font-family: "Playfair Display", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        color: $silkWhite;
    }
    &__midline-caption-text {
        margin-top: 50px;

        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: $silkWhite;
    }
    &__midline-elements {
        @include flexRow();
        margin-top: 50px;
        width: 100%;
        height: 100%;
    }
    &__midline-caption-button {
        @include buttonStyle(15px, 60px);
    }
    &__midline-photo-container {
        @include flexRow();
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
    }
    &__midline-photo-wrapper + .header__midline-photo-wrapper {
        margin-left: 50px;
    }
}