@import "variables";
@mixin commonWindowWidth() {
    width: 100%;
    max-width: 1200px;
}
@mixin specialContainerWidth($maxWidth) {
    width: 100%;
    max-width: $maxWidth;
}

@mixin flexColumn() {
    display: flex;
    flex-direction: column;
}
@mixin flexRow() {
    display: flex;
    flex-direction: row;
}

@mixin logoLetter() {
    @include flexColumn();
    justify-content: flex-end;
    height: 150px;
    padding: 0 28px 20px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    background: #f7f6f2;
}

@mixin logoSign() {
    @include flexColumn();
    justify-content: flex-end;
    margin-left: 10px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $silkWhite;
}

@mixin linkStyle() {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $silkWhite;
}

@mixin buttonStyle ($paddingY, $paddingX) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: $paddingY $paddingX;
    background: #232220;
    font-style: normal;
    font-weight: 500;
    color: $silkWhite;
    cursor: pointer;
    outline: none;
}

@mixin imageCover() {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

@mixin verticalTitle() {
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
    text-align: left;
    color: $charcoalBlack;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}