@import "resetStyles";

* {
    box-sizing: border-box;
}

img {
    vertical-align: bottom;
}

html, body {
    display: flex;
    flex: 100% 1;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    max-width: 1200px;
}

@import "variables";
@import "mixins";
@import "modules/header/header";
@import "modules/section__benefits/benefits";
@import "modules/section__samples/samples";
@import "modules/section__prices/prices";
@import "modules/section__reviews/reviews";
@import "modules/section__about/about";
@import "modules/footer/footer";