@import "src/blocks/variables";
@import "src/blocks/mixins";
.footer {
    @include commonWindowWidth();
    @include flexRow();
    justify-content: space-between;
    height: 200px;
    padding: 0 120px 40px 50px;
    background-color: $charcoalBlack;
    &__logo-container {
        @include flexRow();
        height: 150px;
    }
    &__logo-letter {
        @include logoLetter();
    }
    &__logo-sign {
        @include logoSign();
    }

    &__content {
        @include flexRow();
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        margin-left: 80px;
    }
    &__middle-container {
        @include flexColumn();
    }
    &__links-container {
        @include flexRow();
    }
    &__link {
        @include linkStyle();
        display: flex;
        font-size: 14px;
    }
    &__link + .footer__link {
        margin-left: 40px;
    }

    &__copyright {
        display: flex;
        margin-top: 30px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0;
        text-align: left;
        color: $silkWhite;
    }
    &__contacts-container {
        @include flexColumn();
        margin-bottom: 30px;
    }
    &__contact {
        display: flex;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0;
        text-align: left;
        color: $silkWhite;
        text-decoration: none;
    }
    &__contact + .footer__contact {
        margin-top: 10px;
    }
}