
@font-face {
  font-family: "Playfair Display Italic variable";
  src: url("../../fonts/PlayfairDisplay-Italic-VariableFont_wght.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair Display Black";
  src: url("../../fonts/PlayfairDisplay-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair Display Black Italic";
  src: url("../../fonts/PlayfairDisplay-BlackItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  src: url("../../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair Display Bold Italic";
  src: url("../../fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair Display Extra Bold";
  src: url("../../fonts/PlayfairDisplay-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair Display Extra Bold Italic";
  src: url("../../fonts/PlayfairDisplay-ExtraBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair Display Italic";
  src: url("../../fonts/PlayfairDisplay-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair Display Medium";
  src: url("../../fonts/PlayfairDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair Display Medium Italic";
  src: url("../../fonts/PlayfairDisplay-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair Display Regular";
  src: url("../../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair Display Semi Bold";
  src: url("../../fonts/PlayfairDisplay-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Playfair Display Semi Bold Italic";
  src: url("../../fonts/PlayfairDisplay-SemiBoldItalic.woff2") format("woff2");
}